APP_NAME="Supplyra"
DATABASE_URL="postgresql://postgres.[YOUR_PROJECT_REF]:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"
PASSWORD_DEFAULT="mysecretpassword"

# Redis Configuration
REDIS_URL="redis://localhost:6379"

# Logging
LOG_LEVEL="info"

# Mail Configuration
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tsl
MAIL_FROM_ADDRESS=noreply@supplyra-solutions.com
MAIL_FROM_NAME="Supplyra ERP"

# Storage Configuration
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
AWS_BUCKET_NAME=supplyra
AWS_ENDPOINT=http://localhost:9005

# Storage Driver (options: s3, local)
STORAGE_DRIVER=s3

# Web Push VAPID Keys
VAPID_SUBJECT="mailto:dev@supplyra-solutions.com"
VAPID_PRIVATE_KEY=""
PUBLIC_VAPID_KEY=""

# Payment Gateway Configuration
# Options: mock, midtrans, flip
PAYMENT_PROVIDER=mock

# Midtrans (Iris)
MIDTRANS_SERVER_KEY=
MIDTRANS_MERCHANT_ID=
MIDTRANS_BACKEND_URL=https://app.sandbox.midtrans.com/iris/api/v1

# Flip (Big Flip)
FLIP_SECRET_KEY=
FLIP_VALIDATION_TOKEN=

# Calendar
PUBLIC_HOLIDAY_ICS_URL="https://calendar.google.com/calendar/ical/id.indonesian%23holiday%40group.v.calendar.google.com/public/basic.ics"